<h1> Create a Post </h1> 



<form action = '/posts/createpost' method = "POST">
    <div>
        <label for = "title"> Title </label>
        <input type = "text" id = "title", name = "title" required>
    </div>
    <div>
        <label for = "message"> Message </label>
        <input type = "text" id = "message", name = "message" required>
    </div>

    <button type = "submit"> Submit </button>
</form>

<a href = "/timeline"> timeline page </a>