<h1>
    Login
</h1>

<form action = '/login' method = "POST">
    <div>
        <label for = "username"> Username </label>
        <input type = "text" id = "username", name = "username" required>
    </div>
    <div>
        <label for = "password"> Password </label>
        <input type = "text" id = "password", name = "password" required>
    </div>

    <button type = "submit"> Submit </button>
</form>

<a href = "/facebook"> Facebook Login </a>

<!-- <form action  = '/facebook' method = "POST">
    <button type = "submit"> Facebook Login </button>
</form> -->


<div>
    <% if (user) { %>
        <p> You are logged in </p>
    <% } else { %>
        <p> you are not logged in </p>
    <% } %>
</div>

<a href = "/signup"> Sign up </a>