<h1> Timeline Page </h1>

<div>
    This is where the header bar will go. It will reference to profile pages
</div>

<br/>

<div>
    This is where posts will go
</div>

<div>
    <% if (user) {%> 
        <p> user id: <%= user._id %> </p> 
    <%} %>

    <% posts.forEach(function(post) { %> 
        <p> <%= post.title %> </p>
        <p> Post ID:</p>
        <p> <%= post._id %> </p>
        <button> Like </button>
        
    <% })%> 

    
</div>

<a href = "./posts/createpost"> Create a Post </a>