<h1> Timeline Page </h1>

<div>
    This is where the header bar will go. It will reference to profile pages
</div>

<br/>

<div>
    This is where posts will go
</div>


<a href = "./posts/createpost"> Create a Post </a>